manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=20.00.0'
}

params {
    threads = Runtime.runtime.availableProcessors()
    sub_threads = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '96G'
    help = false
    profile = false

    read_type = "illumina"
    reads = ""
    out_dir = "./reich_out"

    work_dir = "nfwork"

    bowtie2_idx = ""
    hisat2_idx = ""
    nonhuman_db = ""
    taxdump_dir = ""
}

profiles {

    local {
        includeConfig "workflows/configs/local.config"

    }

    docker {
        docker { enabled = true }
        includeConfig "workflows/configs/docker.config"
    }

    conda {
        includeConfig "workflows/configs/conda.config"
    }
}